<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518578610295-9qb27fs5mmv3f2elmkj3k13po1vopggu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518578610295-9qb27fs5mmv3f2elmkj3k13po1vopggu</string>
	<key>API_KEY</key>
	<string>AIzaSyBhAveF-AyFfO8NOp3tGChAGld5VnhTmK0</string>
	<key>GCM_SENDER_ID</key>
	<string>518578610295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-dicoding</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-dicoding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518578610295:ios:9ae84f487e3ff89c50e672</string>
</dict>
</plist>